ion-item {
  --padding-start: 0;
  align-items: center;
}

ion-thumbnail img {
  border-radius: 10px;
}

.card-header {
  margin-left: 10px;
}

ion-card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

ion-card-subtitle {
  font-size: 0.9rem;
  color: gray;
}
