.feed-background {
    --background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(6px);
    background: linear-gradient(135deg, rgb(2, 54, 60) 0%, rgb(0, 131, 151) 100%);
    position: relative;
  }
  
  .transparent-card {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid #ffffff30;
    color: white;
  }
  
  .transparent-button {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #ffffff50;
    color: white;
    margin-bottom: 10px;
  }
  